body {
	padding: 10px 0 50px 0;
}
.error {
	color: red;
}
label {
	display: block;
	font-size: 20px;
}
input[type=text] {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}
textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
}
input[type=submit] {
	font-size: 24px;
}
hr {
	margin: 20px auto;
}
.entry + .entry {
	margin-top: 20px;
}
.entry-title {
	font-weight: bold;
	font-size: 20px;
}
.entry-created {
	text-align: right;
}
.entry-body {
	margin: 0;
	font-size: 17px;
}