<!DOCTYPE html>

<html>
<head>
	<title>Yasha's Blog</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
	<!-- Site-wide css -->
	<link rel="stylesheet" href="static/css/styles.css" type="text/css">
</head>

<body>
	<div class="container">

		<a class="main-title" href="/">Yasha's Blog</a>

		{% for currentPost in currentPosts %}
			<hr>
			<div class="entry">
				<div class="row">
					<div class="col-sm-8 entry-title">{{currentPost.subject}}</div>
					<div class="col-sm-4 entry-created">{{currentPost.created.strftime("%b %d, %Y")}}</div>
				</div>
				<pre class="entry-body">{{currentPost.content}}</pre>
			</div>
		{% endfor %}

	</div><!-- /.container -->

	<!-- JavaScript -->
	<!-- jQuery -->
	<script src="static/js/jquery-1.10.2.min.js"></script>
	<!-- Bootstrap core JS -->
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>